<web-app>
    <servlet>
        <servlet-name>sachin</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>GenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sachin</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>